* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  font-family: sans-serif;
  background-color: rgb(142, 208, 235);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 80px;
}
.search {
  display: flex;
}
.icon {
  width: 30px;
}
.myInput {
  height: 33px;
  width: 150px;
  font-size: 25px;
}
.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.image {
  width: 80px;
  padding: 0;
  margin: 0;
}
